{% extends "plantillaPadre.html" %}

{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="h1-ACyD">Registro de Actividades</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="subtemas">Agregar actividad</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form method="post" class="row g-3" action="{%url 'guardarActividades'%}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="custom-label form-label" for="inputNombre">Nombre de la actividad</label>
                                <input type="text" class="form-control custom-input" id="inputNombre" name="nombre" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="custom-label form-label" for="inputApellido">Numero de cupos</label>
                                <input type="number" class="form-control custom-input" id="inputCupos" name="cupos" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="custom-label form-label" for="inputProfesor">Profesores</label>
                                <select id="inputProfesor" class="form-control custom-input" name="profesor" required>
                                    <option selected>Seleccione un profesor</option>
                                    <option value="1">Opción 1</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="custom-label form-label" for="inputDiaSemana">Dia de clase</label>
                                <select id="inputDiaSemana" class="form-control custom-input" name="dia" required>
                                    <option selected>Seleccione un día de la semana</option>
                                    <option value="lunes">Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miercoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sabado">Sabado</option>
                                    <option value="Domingo">Domingo</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="custom-label form-label">Selecciona horarios para la clase</label>
                                {%for horario in Horarios %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="check1" name="horariosClase" value="{{horario.idHorario}}">
                                    <label class="form-check-label custom-label" for="check1">{{horario.horario}}</label>
                                </div>
                                {% endfor%}
                            </div>
                            <div class="form-group col-md-6">
                            <label class="custom-label form-label" for="inputPeriodo">Periodo</label>
                                <select id="inputPeriodo" class="form-control custom-input" name="periodo" required>
                                    <option selected>Seleccione un periodo</option>
                                    <option value="1">Opción 1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btnr fijo">ENVIAR</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="img-container">
                        <img src="{% static 'img/conejoUnico.png' %}" class="img-fluid imagen-conejos" alt="Imagen">
                    </div>
                </div>
            </div>
        </div> <!-- Fin de la card body -->
    </div>
</div>

<script>
//Script para validar que se selccione al menos un checkbox
function validarFormulario() {
    var checkboxes = document.querySelectorAll('input[name="horariosClase"]:checked');
    if (checkboxes.length < 1) {
        alert("Debe seleccionar al menos una opción.");
        return false; // Evita que se envíe el formulario
    }
    return true; // Permite que se envíe el formulario
}
</script>
{% endblock %}
