{% extends "plantillaPadre.html" %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="h1-ACyD">Actividades culturales y deportivas</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/conejoPareja.png' %}" class="img-fluid imagen-conejos-pareja" alt="Imagen"> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <p class="subtitulo-perfiles">Culturales</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-flex flex-wrap justify-content-center">
            <a formaction="{% url 'guardarActividades' %}" class="btn btn-primary btnr fijo mx-2">Actividades</a>
            <a class="btn btn-primary btnr fijo mx-2">Grupos</a>
            <a class="btn btn-primary btnr fijo mx-2">Horarios</a>
        </div>
    </div>
</div>

{% endblock %}
